# ==========================
# Python build & cache
# ==========================
__pycache__/

# ==========================
# Environment & virtual env
# ==========================
.env

# ==========================
# Package management
# ==========================
poetry.lock

# ==========================
# IDE / editor files
# ==========================
.vscode/

# ==========================
# Logs / temp files
# ==========================
*.log
logs/
tmp/
.cache/

# ==========================
# Misc
# ==========================
pseudo.psc